#TableOfContents li, #TableOfContents ul, #TableOfContents ul li{
    list-style: outside none none !important;
}
#TableOfContents ul, #TableOfContents li {
  padding-right: 5px;
  padding-left: 10px;
}
#TableOfContents > ul, #TableOfContents > ul > li, #TableOfContents > ul > li > ul {
  padding-left: 0px;
}
#TableOfContents > ul > li > ul > li > a {
  font-weight:800;
}
#TableOfContents > ul > li > ul > li ul > li > ul > li > a {
  font-size: 18px;
  box-shadow: inset 0 -1px 0 #3eb0ef38;
}

.post-full-toc {
    // font-size: 2.2rem;
    // line-height: 1.2em !important;
}

.pagination {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.3rem;
    color: #9eabb3;
    text-align: center;
}

.pagination a {
    color: #9eabb3;
    transition: all .2s ease;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.newer-posts, .older-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #ddd 1px dashed;
    text-decoration: none;
    transition: border .3s ease;
}

.newer-posts {
    left: 0;
}

.older-posts {
    right: 0;
}

.site-footer {
    padding-bottom: 20px !important;
}

.nav-current a:visited {
    color: yellow;
}


@media (max-width: 650px) {
    .hide {
        display: none !important;
    }   
    .copyright {
        text-align: center;
    }
}

/*.post-full-content pre code {
    color: #e5eff5;
}    */


.blog-logo {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    padding: 35px 40px;
    margin: 0 0 30px;

    border: none;
    background: linear-gradient(to bottom,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 100%);

    display: block;
    float: left;
    background: 0 0!important;
    border: none!important;
}
.blog-logo svg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

.site-title svg {
    height: 45px;  
    width: auto;  
    padding: 1px 0 5px;
    margin-bottom: 13px;
}

.site-nav-logo {
    margin-right: 0px;
    padding: 0px 0;
}

.site-nav-logo svg {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 6px;

    padding: 0px;
    margin-right: 0px;
}

.floating-header-logo svg {
    width: 20   px;
    height: 20px;
    margin-right: 15px;
}

.nav-post {
    margin-left: 0px;
}
