{{ partial "head" . }}

<body class="home-template">
  <div class="site-wrapper">
    {{ partial "header" . }}
    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
            <div class="post-feed">
                <article class="post-card post" style="min-height: 0px">
                    <h2 class="site-description">
                      {{ $data := .Data }}
                      {{ range $key, $value := .Data.Terms.Alphabetical }}
                      <span class="term">
                          <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a>&nbsp;({{ $value.Count }})</span>
                      {{ end }}
                    </h2>
                </article>
            </div>
        </div>
    </main>
    {{ partial "footer" . }}
  </div>
  {{ partial "js" . }}
</body></html>
