{{if .IsNode}}
<header class="site-header outer" style="background-image: url({{.Site.Params.cover | absURL}})">
{{else}}
<header class="site-header outer" style="background: #000;">
{{end}}
    {{if .IsNode}}
    <div class="inner">
    <div class="site-header-content">
      <h1 class="site-title">
        <a href="{{.Site.BaseURL}}">{{ if (or .Params.whitelogo (not .Params.image))}}{{ partial "logo.white.svg" }}{{else}}{{ partial "logo.black.svg" }}{{end}}</a>
        {{ .Site.Params.title }}
      </h1>
        <h2 class="site-description">{{ .Site.Params.subtitle }} </h2>
    </div>
    {{end}}

    {{ partial "site-nav.html" . }}
    {{if .IsNode}}
    </div>
    {{end}}
</header>
