<section class="subscribe-form">
  <h3 class="subscribe-form-title">Let's stay in touch.</h3>
  <p>Get the latest posts delivered right to your inbox. No spam.</p>

  <form method="post" name="mc-embedded-subscribe-form" action="//xyz.us14.list-manage.com/subscribe/post?u=06d6956132896fc298dda60e3&amp;id=557ccf655f" target="_blank" novalidate>
    <div class="form-group">
      <input class="subscribe-email" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your email address">
    </div>
    <button class="" type="submit">Subscribe</button>

    <input class="confirm" type="hidden" name="confirm">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
    	<input type="text" name="b_06d6956132896fc298dda60e3_557ccf655f" tabindex="-1" value="">
    </div>
  </form>

	<span class="subscribe-form-facebook">or like us <a href="https://facebook.com/shapescience">on facebook</a>!</span>

</section>



